name: Build FOSS APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build FOSS Debug APK
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup project and build environment
        uses: ./.github/actions/common-setup

      - name: Build FOSS Debug APK
        run: ./gradlew assembleFossDebug

      - name: Create Release
        uses: softprops/action-gh-release@v2.2.1
        with:
          files: app/build/outputs/apk/foss/debug/*.apk
          tag_name: build-${{ github.run_number }}
          draft: false
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: foss-apk
          path: app/build/outputs/apk/foss/debug/*.apk
          retention-days: 30
